body{
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    color: #FF5D00; /*house style orange*/
}

/*Grid and layout*/
#container{ /*Using CSS grid to define layout, cloud9 doesn't support it yet but the browser does when run in new tab*/
    display: grid;
    justify-content: center;
    grid-template-rows: auto auto 250px 250px 300px auto; /*6 rows*/
    grid-template-columns: auto auto;/*2 columns*/
    grid-template-areas:/*The grid should be layed out like this*/
        "logo clock"
        "nav nav"
        "imgSlider discountArea"
        "imgSlider img3"
        "articleText articleText"
        "footer footer"
}

#logo{
    grid-area: logo; /*logo in template area is #logo*/
}

#clock{
    grid-area: clock;
    text-align: right;
}

nav{
    grid-area: nav;
    text-align:center;
}

#discountArea{
    grid-area: discountArea;
}

#imgSlider{
    grid-area: imgSlider;
    align-self: center;
}

#img3{
    grid-area: img3
}

#articleText{
    grid-area: articleText;
    text-align: center;
    align-self: center;
}

footer{
    grid-area: footer;
    background-color: rgba(0,0,0,0.2);
    font-size: 12px;
}

/*Images*/
#discountImg{
    width: 400px;
    height: 250px;
}

#img3{
    width: 400px;
    height: 250px;
}

#carousel{
    width: 800px;
    height: 500px;
}

/*General styling*/
#socMedia{
    float: right;
    padding-right: 20px;
}

#contactInfo{
    float: left;
    padding-left: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    background-color: rgba(0,0,0,0.2);
}

nav li {
    display: inline;
    padding-left: 150px;
    padding-right: 150px;
}

nav a{
    text-decoration: none;
    color: #FF5D00;
    font-size: 22px;
}

.homeText{
    padding: 25px 0px;
}