body{
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    color: #FF5D00; /*house style orange*/
}

/*Grid and layout*/
#container{ /*Using CSS grid to define layout, cloud9 doesn't support it yet but the browser does when run in new tab*/
    display: grid;
    justify-content: center;
    grid-template-rows: auto auto auto auto auto; /*5 rows of auto size*/
    grid-template-columns: auto; /*1 column*/
    grid-template-areas: /*Grid layout*/
        "logo"
        "nav"
        "orderImg"
        "form"
        "footer"
}

#logo{
    gid-area: logo;
}

nav{
    grid-area: nav;
    text-align:center;
}

#orderImg{
    grid-area: orderImg;
}

aside{
    grid-area: form;
}


footer{
    grid-area: footer;
    background-color: rgba(0,0,0,0.2);
    font-size: 12px;
}

/*General styling*/
#socMedia{
    float: right;
    padding-right: 20px;
}

#contactInfo{
    float: left;
    padding-left: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    background-color: rgba(0,0,0,0.2);
}

nav li {
    display: inline;
    padding-left: 150px;
    padding-right: 150px;
}

nav a{
    text-decoration: none;
    color: #FF5D00;
    font-size: 22px;
}

.formButton{
    background-color: rgba(0,0,0,0.2);
    color: #FF5D00;
    border: none;
    margin:25px 20px;
    padding: 15px 30px;
    font-size: 20px;
}

input[type=text]{
    border: 1px solid #FF5D00;
    border-radius: 3px;
    width:30%;
    height: 20px;
}

fieldset{
    border-style: solid;
    border-color: #FF5D00;
}

#orderImg img{
    width: 1200px;
    height: 800px;
}

.price_text{
    color: green;
}

/*Required text*/
#required_size {
    display: none;
}

#required_topping {
     display: none;
}

.required {
    color: red;
}